<form [ngrxSignalForm]="store">
  <label>
    Name:

    <input [ngrxSignalFormControl]="formSignal.controls.name()" type="text">
  </label>

  <label>
    Surname:

    <input [ngrxSignalFormControl]="formSignal.controls.surname()" type="text">
  </label>

  <fieldset>
    <legend>Address</legend>

    <label>
      Street:

      <input [ngrxSignalFormControl]="formSignal.controls.address.controls.street()" type="text">
    </label>

    <label>
      City:

      <input [ngrxSignalFormControl]="formSignal.controls.address.controls.city()" type="text">
    </label>
  </fieldset>

  <fieldset>
    <legend>Items</legend>

    @for (itemState of formSignal.controls.items.controls(); track itemState.value.itemId; let index = $index) {
      <div>
        <span class="item-index">{{ index + 1 }}.</span>

        <span class="item-id">Item Id: {{ itemState.value.itemId }}</span>

        <label>
          Item name:

          <input [ngrxSignalFormControl]="itemState.controls.itemName" type="text">
        </label>
      </div>
    }
  </fieldset>
</form>

<hr />

<fieldset>
  <legend>Simulate external changes</legend>

  <div>
    <button (click)="reloadForm()" type="button">Reload form</button>

    <button (click)="updateAddress()" type="button">Change address</button>

    <button (click)="updateItem()" type="button">Change first item</button>
  </div>

  <div>
    <button (click)="disableAddress()" type="button">Disable address</button>
  </div>

  <div>
    <button (click)="nameError()" type="button">Name error</button>

    <button (click)="streetWarning()" type="button">Street warning</button>

    <button (click)="validate()" type="button">Validate</button>
  </div>
</fieldset>

<pre>
  <code>
    {{ this.store.formValueAsFormattedJSON() }}
  </code>
</pre>
